@font-face {
  font-family: Rubik;
  src: url(/css/Rubik-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  color: rgb(236, 231, 228);
  font-size: 20px;
  font-family: Rubik, sans-serif;
}
button {
  color: rgb(236, 231, 228);
  background-color: rgb(32, 145, 88);
  padding: 1rem;
  border: none;
  border-radius: 8px;
  font-family: Rubik, sans-serif;
  cursor: pointer;
}
button:hover {
  background-color: rgb(0, 85, 90);
}
table {
  border: 2px solid rgb(32, 145, 88);
  text-align: center;
}

td {
  background-color: rgb(212, 210, 170);
  width: 50px;
  height: 50px;
}
td:hover {
  cursor: pointer;
}

.smiley {
  text-align: center;
  height: 75px;
  font-size: 50px;
  margin: 10px;
  cursor: pointer;
}
.feet:active {
  color: rgb(236, 231, 228);
}
.feet:visited {
  color: rgb(236, 231, 228);
}
.feet {
  color: rgb(236, 231, 228);
  text-decoration: none;
  text-align: center;
  position: fixed;
  bottom: 14px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../img/background.png');
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  text-align: center;
  margin-bottom: 5px;
}

.button-container {
  padding: 10px 5px 10px 15px;
}

.lives {
  margin-bottom: 5px;
  color: #ff3333;
}

.timer {
  margin-bottom: 5px;
}
.hints {
  margin-bottom: 5px;
}
.safeclick {
  margin-bottom: 5px;
}

.shown-safe-click {
  background-color: goldenrod;
}

.is-shown {
  background-color: #85a989;
}
.is-shown:hover {
  cursor: default;
}
.num-color0 {
  color: #85a989;
}
.num-color1 {
  color: blue;
}
.num-color2 {
  color: green;
}

.num-color3 {
  color: red;
}
.num-color4 {
  color: darkblue;
}
.num-color5 {
  color: rgb(61, 20, 20);
}
.num-color6 {
  color: turquoise;
}
.num-color7 {
  color: black;
}

.num-color8 {
  color: gray;
}
