body {
  margin: 0px;
  padding: 0px;
  background-color: bisque;
  text-align: center;
}

.show-book-menu {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  margin-top: -50px;
  margin-left: -615px;
  background-color: palevioletred;
}

.add-book-menu {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.update-modal {
  position: absolute;
  box-sizing: border-box;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-add-book {
  box-sizing: border-box;
  margin: auto;
  width: 80%;
  padding-bottom: 760px;
}
.modal-add-book form {
  height: 100px;
  margin: 30px;
  box-sizing: border-box;
}
.add-book-name,
.update-book-name {
  height: 30px;
  border: 1px solid black;
  background-color: lightyellow;
  margin: 10px;
}
.add-book-price,
.update-book-price {
  height: 30px;
  border: 1px solid black;
  background-color: lightyellow;
  margin: 10px;
}
.add-book-image-url,
.update-book-image-url {
  height: 30px;
  border: 1px solid black;
  background-color: lightyellow;
  margin: 10px;
}
.submit-button,
.update-book {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  background-color: lightgoldenrodyellow;
  border: 2px solid black;
  color: lightslategray;
}
.read,
.update,
.delete {
  font-size: 30px;
  border: 1px solid;
}

.read {
  background-color: lightblue;
}
.update {
  background-color: lightgreen;
}

.delete {
  background-color: tomato;
}
td,
th {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  border: 2px solid black;
  background-color: indianred;
  min-height: 300px;
  min-width: 300px;
}

table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
}

.add-book-menu {
  display: none;
}

.update-screen {
  display: none;
}

.read-book {
  display: none;
  position: absolute;
  box-sizing: border-box;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  margin: auto;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.671);
}
.book-content {
  box-sizing: border-box;
  margin-top: 10%;
  height: 600px;
  color: black;
}

.book-content,
.read-book-rating {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  background-color: rgba(119, 136, 153, 0.849);
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.key-span {
  color: rgb(228, 253, 0);
}

.exit-read-book {
  position: absolute;
  top: 19.63%;
  right: 25%;
  height: 40px;
  width: 40px;
  background-color: maroon;
  border: 1px solid maroon;
}
.book-img {
  width: 250px;
  height: 350px;
}

.read-book-rating span {
  cursor: pointer;
}

.checked {
  color: orange;
}

footer {
  position: absolute;
  text-align: center;

  bottom: 0;
  margin-left: 45%;
  color: black;
}

button {
  cursor: pointer;
}

th {
  cursor: pointer;
}

.prev-page,
.next-page {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  margin-top: 10px;
  background-color: slategrey;
}
